{% extends base %}

{% block postamble %}
  <style>
    {% include "material.indigo-blue.min.css" %}
    {% include "style.css" %}
  </style>
{% endblock %}

{% block contents %}
<div class="content" >

<p>
  Click on a figure for the <b>interactive plot</b>.
</p>

<table class="figures">
<tr>


  <td>
    <figure>
      <div class=container>
        <a href="figure">
          <img class="figure-thumbnail mdl-card mdl-shadow--2dp main-card default-figure" src="select-figure/static/images/Pd.png">
          <div class="hover-text">Pd complexes</div>
        </a>
      </div>
      <figcaption>
      Pd complexes
      </figcaption>
    </figure>
  </td>

  <td>
    <figure>
      <div class=container>
        <a href="figure?preset=1b">
          <img class="figure-thumbnail mdl-card mdl-shadow--2dp main-card" src="select-figure/static/images/Pt.png">
          <div class="hover-text">Pt complexes</div>
        </a>
      </div>
      <figcaption>
      Pt complexes
      </figcaption>
    </figure>
  </td>

  <td>
    <figure>
      <div class=container>
        <a href="figure?preset=1c">
          <img class="figure-thumbnail mdl-card mdl-shadow--2dp main-card" src="select-figure/static/images/Cu.png">
          <div class="hover-text">Cu complexes</div>
        </a>
      </div>
      <figcaption>
      Cu complexes
      </figcaption>
    </figure>
  </td>

</tr>
<tr>

  <td>
    <figure>
      <div class="container">
        <a href="figure?preset=1d">
          <img class="figure-thumbnail mdl-card mdl-shadow--2dp main-card" src="select-figure/static/images/Ni.png">
          <div class="hover-text">Ni complexes</div>
        </a>
      </div>
      <figcaption>
          Ni complexes
      </figcaption>
    </figure>
  </td>

  <td>
    <figure>
      <div class=container>
        <a href="figure?preset=1e">
          <img class="figure-thumbnail mdl-card mdl-shadow--2dp main-card" src="select-figure/static/images/Au.png">
          <div class="hover-text">Au complexes</div>
        </a>
      </div>
      <figcaption>
          Au complexes
      </figcaption>
    </figure>
  </td>

  <td>
    <figure>
      <div class=container>
        <a href="figure?preset=1f">
          <img class="figure-thumbnail mdl-card mdl-shadow--2dp main-card" src="select-figure/static/images/Ag.png">
          <div class="hover-text">Ag complexes</div>
        </a>
      </div>
      <figcaption>
      Ag complexes
      </figcaption>
    </figure>
  </td>

</tr>
</table>

<!-- No actual bokeh content to display, but let's keep it here //-->
{{ super() }}

</div>

{% endblock %}
